
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ffecd2, #fcb69f);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

}

.guineapig.gif {
    width: 20px;
    height: auto;
    display: block;
    margin: 0 auto 5px auto;

}


.quiz-container {
    background: #fff7eb;
    padding: 25px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(255,160,90,0.5);
    text-align: center;
    border: 3px solid #ff9d4d;
    box-sizing: border-box;
}

h1 {
    color:#e06363;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.2;
    position: relative;
    z-index: 10;

}




 button {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 15px 10px;
    font-size: 1rem;
    border: 2px solid #ffb469;
    border-radius: 10px;
    background: #ffe3c2;
    cursor: pointer;
    word-wrap: break-word;
}



button:hover {
    background: #ffd3a1;

}

.correta {
    background: #8cc070 !important;
    color: #fff

}

.hidden {
    display: none !important;
}

.resposta {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #ff9a3c;
    color: whitesmoke;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    
}

#resultado {
    font-size: 22px;
    margin-top: 20px;
    color: #241818;
    font-weight: bold;
}

.cobaia-pulando {
    font-size: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    animation: pular 1s infinite ease-in-out;
}

@keyframes pular {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.cobaia-piscando {
    font-size: 28px;
    margin-bottom: 10px;
    color: #ff8a3c;
    animation: piscar 1.2s infinite;
}

@keyframes piscar {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

.cobaia-correndo {
    position: absolute;
    bottom: 10px;
    left: -80px;
    font-size: 40px;
    animation: correr 4s linear infinite;
}

@keyframes correr {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(110vw);
    }
}

#recomecar {
    margin-top: 15px;
    padding: 12px;
    background: #ff7b00;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

#recomecar:hover {
    background: #ff5e00;
}

#pergunta {
    background: none;     
    border: none;         
    padding: 10px 0;       
    color: #ff7b00;       
    text-align: center;    
}
